{% extends "base_dashboard.html" %}
{% load static %}

{% block title %}TTGS | Dashboard{% endblock %}
{% block nav_courses %}active{% endblock %}

{% block content %}
<br><br>
<h2>Add Courses</h2>
<h5>Please use the following form to enter the Courses into the system for timetable generation</h5>
<form method="post">
  {% csrf_token %}
  <fieldset>
    <div class="tabcontent" id="new">
      {{ form.as_p }}
      <a href="{% url 'editcourse' %}"><h1 class="submit">View / Edit Courses</h1></a>
      <input type="submit" value="Add Courses" class="submit">
    </div>
  </fieldset>
</form>
{% endblock %}
