{% extends "base_dashboard.html" %}
{% load static %}

{% block title %}TTGS | Dashboard{% endblock %}
{% block nav_rooms %}active{% endblock %}

{% block content %}
<br><br>
<h2>Add Rooms</h2>
<h5>Please use the following form to enter the Rooms into the system for timetable generation</h5>
<form method="post">
  {% csrf_token %}
  <fieldset>
    <div class="tabcontent" id="new">
      {{ form.as_p }}
      <br>
      <a href="{% url 'editrooms' %}"><h1 class="submit">View / Edit Rooms</h1>&nbsp;</a>
      <input type="submit" value="Add Room" class="submit">
    </div>
  </fieldset>
</form>
{% endblock %}
