{% extends "base_dashboard.html" %}
{% load static %}

{% block title %}TTGS | Dashboard{% endblock %}
{% block nav_sections %}active{% endblock %}

{% block content %}
<br><br>
<h2>Add Sections</h2>
<h5>Please use the following form to enter the Sections into the system for timetable generation</h5>
<form method="post">
  {% csrf_token %}
  <fieldset>
    <div class="tabcontent" id="new">
      {{ form.as_p }}
      <a href="{% url 'editsection' %}"><h1 class="submit">View / Edit Sections</h1></a>
      <input type="submit" value="Add Sections" class="submit">
    </div>
  </fieldset>
</form>
{% endblock %}
